<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @user.name %>
</p>

<p>
  <strong>Entity name:</strong>
  <%= @user.entity_name %>
</p>

<p>
  <strong>Ein:</strong>
  <%= @user.ein %>
</p>

<p>
  <strong>Date established:</strong>
  <%= @user.date_established %>
</p>

<p>
  <strong>Percent of ownership:</strong>
  <%= @user.percent_of_ownership %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @user.phone %>
</p>

<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>

<p>
  <strong>Birthdate:</strong>
  <%= @user.birthdate %>
</p>

<p>
  <strong>Address:</strong>
  <%= @user.address %>
</p>

<p>
  <strong>Address 2:</strong>
  <%= @user.address_2 %>
</p>

<p>
  <strong>State:</strong>
  <%= @user.state %>
</p>

<p>
  <strong>Zip:</strong>
  <%= @user.zip %>
</p>

<p>
  <strong>City:</strong>
  <%= @user.city %>
</p>

<p>
  <strong>Time at current residence years:</strong>
  <%= @user.time_at_current_residence_years %>
</p>

<p>
  <strong>Time at current residence months:</strong>
  <%= @user.time_at_current_residence_months %>
</p>

<p>
  <strong>Drivers license number:</strong>
  <%= @user.drivers_license_number %>
</p>

<p>
  <strong>Drivers licence expiration:</strong>
  <%= @user.drivers_licence_expiration %>
</p>

<p>
  <strong>Drivers license state:</strong>
  <%= @user.drivers_license_state %>
</p>

<p>
  <strong>Ssn:</strong>
  <%= @user.ssn %>
</p>

<p>
  <strong>Bank account number:</strong>
  <%= @user.bank_account_number %>
</p>

<p>
  <strong>Bank routing number:</strong>
  <%= @user.bank_routing_number %>
</p>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
