<%= form_for(@offer) do |f| %>
  <% if @offer.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@offer.errors.count, "error") %> prohibited this offer from being saved:</h2>

      <ul>
      <% @offer.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :website %><br>
    <%= f.text_field :website %>
  </div>
  <div class="field">
    <%= f.label :whos_offer %><br>
    <%= f.text_field :whos_offer %>
  </div>
  <div class="field">
    <%= f.label :fulfillment %><br>
    <%= f.text_field :fulfillment %>
  </div>
  <div class="field">
    <%= f.label :trial %><br>
    <%= f.text_field :trial %>
  </div>
  <div class="field">
    <%= f.label :customer_support_phone %><br>
    <%= f.text_field :customer_support_phone %>
  </div>
  <div class="field">
    <%= f.label :customer_support_email %><br>
    <%= f.text_field :customer_support_email %>
  </div>
  <div class="field">
    <%= f.label :fax_number %><br>
    <%= f.text_field :fax_number %>
  </div>
  <div class="field">
    <%= f.label :hours_of_operation %><br>
    <%= f.text_field :hours_of_operation %>
  </div>
  <div class="field">
    <%= f.label :description %><br>
    <%= f.text_field :description %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
