%h1 Listing offers
- @offers.each do |offer|
  %table
    %thead
      %tr
        %th Name
        %th Legal Name
        %th Website
        %th Whos offer
        %th Fulfillment
        %th Trial
        %th Customer support phone
        %th Customer support email
        %th Fax number
        %th Hours of operation
        %th Description
        %th{:colspan => "3"}
    %tbody
      %tr
        %td= offer.name
        %td= offer.legal_name
        %td= offer.website
        %td= offer.whos_offer
        %td= offer.fulfillment
        %td= offer.trial
        %td= offer.customer_support_phone
        %td= offer.customer_support_email
        %td= offer.fax_number
        %td= offer.hours_of_operation
        %td= offer.description
        %td= link_to 'Show', user_offer_path(@user, offer)
        %td= link_to 'Edit', edit_user_offer_path(@user, offer)
        %td= link_to 'Destroy', user_offer_path(@user, offer), method: :delete, data: { confirm: 'Are you sure?' }
        %br
          %table
            %thead
              %tr
              %th Name
              %th Date Submitted
              %th Approved?
              %th Date Approved
              %th Current Rates
              %th Bank 1
              %th Bank 2
              %th Monthly Amount
              %th{:colspan => "3"}
            - offer.processors.each do |processor|
              %tbody
                %tr
                %td= link_to processor.name, edit_user_offer_processor_path(@user, offer, processor)
                %td= processor.date_submitted
                %td= processor.approved
                %td= processor.date_approved
                %td= processor.current_rates
                %td= processor.bank_1
                %td= processor.bank_2
                %td= number_to_currency(processor.monthly_amount)
                %td= link_to 'Generate Form', send("#{processor.name.downcase}_form_path", processor.id)


= link_to 'New Offer', new_user_offer_path(@user)