<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @offer.name %>
</p>

<p>
  <strong>Website:</strong>
  <%= @offer.website %>
</p>

<p>
  <strong>Whos offer:</strong>
  <%= @offer.whos_offer %>
</p>

<p>
  <strong>Fulfillment:</strong>
  <%= @offer.fulfillment %>
</p>

<p>
  <strong>Trial:</strong>
  <%= @offer.trial %>
</p>

<p>
  <strong>Customer support phone:</strong>
  <%= @offer.customer_support_phone %>
</p>

<p>
  <strong>Customer support email:</strong>
  <%= @offer.customer_support_email %>
</p>

<p>
  <strong>Fax number:</strong>
  <%= @offer.fax_number %>
</p>

<p>
  <strong>Hours of operation:</strong>
  <%= @offer.hours_of_operation %>
</p>

<p>
  <strong>Description:</strong>
  <%= @offer.description %>
</p>

<%= link_to 'Edit', edit_offer_path(@offer) %> |
<%= link_to 'Back', offers_path %>
