= simple_form_for [@user, @offer, @processor] do |f|
  - if @processor.errors.any?
    #error_explanation
      %h2
        = pluralize(@processor.errors.count, "error")
        prohibited this processor from being saved:
      %ul
        - @processor.errors.full_messages.each do |message|
          %li= message
  .field
    = f.label :name
    %br
    = f.text_field :name
  .field
    = f.input :current_status, collection: Processor::STATUSES
  .field
    = f.label :additional_notes
    %br
    = f.text_field :additional_notes
  .field
    = f.label :date_submitted
    %br
    = f.date_select :date_submitted, order: [:month, :day, :year]
  .field
    = f.label :approved
    %br
    = f.check_box :approved
  .field
    = f.label :date_approved
    %br
    = f.date_select :date_approved, order: [:month, :day, :year]
  .field
    = f.label :current_rates
    %br
    = f.text_field :current_rates
  .field
    = f.label :bank_1
    %br
    = f.text_field :bank_1
  .field
    = f.label :bank_2
    %br
    = f.text_field :bank_2
  .field
    = f.label :monthly_amount
    %br
    $
    = f.text_field :monthly_amount
  .actions
    = f.submit