<%= form_for(@processor) do |f| %>
  <% if @processor.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@processor.errors.count, "error") %> prohibited this processor from being saved:</h2>

      <ul>
      <% @processor.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :date_submitted %><br>
    <%= f.date_select :date_submitted %>
  </div>
  <div class="field">
    <%= f.label :approved %><br>
    <%= f.check_box :approved %>
  </div>
  <div class="field">
    <%= f.label :date_approved %><br>
    <%= f.date_select :date_approved %>
  </div>
  <div class="field">
    <%= f.label :current_rates %><br>
    <%= f.text_field :current_rates %>
  </div>
  <div class="field">
    <%= f.label :bank_1 %><br>
    <%= f.text_field :bank_1 %>
  </div>
  <div class="field">
    <%= f.label :bank_2 %><br>
    <%= f.text_field :bank_2 %>
  </div>
  <div class="field">
    <%= f.label :monthly_amount %><br>
    <%= f.text_field :monthly_amount %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
